html {
  min-height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.input-field {
   background-color: #f4f1bb;
   border: 1px solid rgb(251,147,34);
   width: 150px;
   height: 24px;
}

.labeled-input {
	margin-bottom: 12px;
	display: flex;
}

.login-button {
  width: 150px;
  margin-bottom: 8px;
}

a {
	text-decoration: underline;
	color: black;

	&:hover, &:active {
		color: rgb(59,119,173);
		cursor: pointer;
	}
}

.info {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 24px;
	color: darkblue;
	align-items: flex-end;

	&__text {
		text-align: center;
		align-self: center;
	}

	&__logout {
      flex-grow: 1;
      margin-right: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 16px;
      color: black;
	}
}

.logged-in-container {
	display: flex;
	flex-direction: row;
}

.group-list {
    z-index: 2;
    -webkit-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
	padding: 0 24px;
	background-color: rgb(133,196,250);
	width: 20%;
    min-width:250px;
	justify-content: flex-start;
	align-items: center;
    overflow: auto;
}

.groups-content {
    min-width: 736px;
    -webkit-box-shadow: inset 2px 12px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 12px 20px -10px rgba(0,0,0,0.75);
    box-shadow: inset 2px 12px 20px -10px rgba(0,0,0,0.75);
    height: 100%;
    width: 80%;
	background-color: rgb(253,220,171);
	justify-content: flex-start;
}

.group-info {
    overflow: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}


.group-description {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
    height: 70px;
    background-color: rgb(255,248,179);
	flex-direction: row;
}

.group-form {
	padding: 12px 48px;
	display: flex;
	flex-direction: column;
}

.group-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  min-height: 18px;
  &__item {
      margin-right: 12px;
      padding-top: 0;
      padding-bottom: 0;
      width: 110px;
      min-width: 110px;
  }
}

.group-users {
	padding: 12px 48px;
	display: flex;
	flex-direction: column;
}

.users-table {
	text-align: left;
	width: 100%;
}

.table-header {
	height: 50px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	margin-top: 8px;
}

.new-group-input {
	margin-top: 16px;
}

body {
	margin: 0;
}

.button-group {
	display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.clickable {
	cursor: pointer;
	color: black;
	&:hover {
		text-decoration: underline;
	}
}

.margin-right {
	margin-right: 12px;
}

.max-height {
	height: 100%;
}

.max-height-body {
  height: calc(100% - 70px);
}

.login {
  height: 100%;

  &__header {
    min-width: 1034px;
    display: flex;
    height: 70px;
    background-color: rgb(133,196,250);
    align-items: center;
    font-size: 40px;
  }

  &__content {
    min-width: 1034px;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(253,220,171);
  }

  &__navbar {
    z-index: 2;
    min-width: 250px;
    -webkit-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.75);
    padding: 0 24px;
    background-color: rgb(102,163,218);
    width: 20%;
    justify-content: flex-start;
    align-items: center;
  }

  &__container {
    overflow: auto;
    -webkit-box-shadow: inset 2px 12px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 12px 20px -10px rgba(0,0,0,0.75);
    box-shadow: inset 2px 12px 20px -10px rgba(0,0,0,0.75);
    height: 100%;
    width: 80%;
  }

  &__signup {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
    margin: 24px 0;
    height: 70px;
    background-color: rgb(255,248,179);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  &__label {
    width: 100px;
  }
}

.register {
  &__title {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
    margin: 24px 0;
    height: 70px;
    background-color: rgb(255,248,179);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }
}

.logout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.margin-top {
  margin-top: 12px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.basic-flex {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.logo {
  background-color: rgb(253,220,171);
  display: flex;
  align-items: center;
  padding: 0 24px;
  width: 25%;
  height: 100%;
}
.logo-side {
  border-top: 70px solid rgb(253,220,171);
  border-right: 150px solid transparent;
}

.img-medium {
  margin-right: 24px;
  width: 50px;
  height: 50px;
}

.plus-icon {
  background: url("../../icons/plus.png");
  background-size: 36px 36px;
  width: 36px;
  height: 36px;

  &:hover {
    cursor: pointer;
    background: url("../../icons/plus-hovered.png");
    background-size: 36px 36px;
  }

  &:active {
    cursor: pointer;
    background: url("../../icons/plus-clicked.png");
    background-size: 36px 36px;
  }
}

.padding-top {
  padding-top: 12px;
}

.main-view-group-name {
  min-height: 70px;
  padding-left: 48px;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  margin: 24px 0;
  height: 70px;
  background-color: rgb(255,248,179);
  flex-direction: row;
}


.two-sides {
  margin: 24px 48px;
  display: flex;
  flex-direction: row;
}

.users-table-col {
  flex-grow: 1;
}

.buttons-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-table-header {
  display: flex;
  justify-content: center;
  font-size: 24px;

  &--passwords {
    margin-top: 24px;
  }
}

.group-main-view-button {
  min-width: 145px;
  margin-top: 18px;
  min-height: 32px;
}

.remove-icon {
  display: table-cell;
  background: url("../../icons/remove_icon.png");
  background-size: 32px 23px;
  margin-top: 16px;
  width: 32px;
  height: 23px;

  &:hover {
    cursor: pointer;
    background: url("../../icons/remove_icon_hovered.png");
    background-size: 32px 23px;
  }

  &:active {
    cursor: pointer;
    background: url("../../icons/remove_icon_pressed.png");
    background-size: 32px 23px;
  }
}

.your-groups {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.group-list-ele {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  font-size: 18px;
  text-align: center;
}

.add-group-pass {
  margin: 0 48px;
}

.input-textarea {
  resize: none;
  padding: 0 4px;
  background-color: #f4f1bb;
  border: 1px solid rgb(251,147,34);
  width: 350px;
  height: 150px;
  font-family: Serif;
  font-size: 16px;
}

.add-group-pass-label {
  vertical-align: top;
  margin-bottom: 12px;
  display: inline-block;
  font-weight: bold;
  width: 120px;
  min-width: 120px;
}

.add-group-pass-buttons-container {
  margin: 18px 0;
}

.add-group-pass-button {
  min-width: 150px;
  width: 150px;
  margin-top: 18px;
  margin-right: 24px;
}

.inline-block {
  display: inline-block;
}

.wide200 {
  width: 200px;
  min-width: 200px;
}

.font24 {
  font-size: 24px;
}

.col-45 {
  width: 40%;
}

.col-10 {
  min-width: 40px;
  width: 10%;
}

.back-button-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.margin-bottom {
  margin-bottom: 18px;
}

.pass-note {
  text-align: center;
  font-size: 16px;
}

.margin-right {
  margin-right: 12px;
}

.large {
  width: 150px;
  min-width: 150px;
}

.icon-block {
  height: 36px;
  width: 36px;
  padding-bottom: 12px;
  margin-top: 16px;
}