.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.input-field {
   background-color: #f4f1bb;
   border: 1px solid #ed6a5a;
   width: 150px;
   height: 24px;
}

.labeled-input {
	margin-bottom: 12px;
	display: flex;
}

.login-button {
  width: 150px;
  margin-bottom: 8px;
}

a {
	text-decoration: underline;
	color: blue;

	&:hover, &:active {
		color: darkblue;
		cursor: pointer;
	}
}

.info {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 24px;
	color: darkblue;
	align-items: flex-end;

	&__text {
		text-align: center;
		align-self: center;
	}

	&__logout {
      flex-grow: 1;
      margin-right: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 16px;
      color: black;
	}
}

.logged-in-container {
	display: flex;
	flex-direction: row;
}

.group-list {
	padding: 12px 24px;
	background-color: #f4f1bb;
	width: 20%;
	justify-content: flex-start;
	align-items: center;
}

.groups-content {
	background-color: #e6ebe0;
	width: 80%;
	justify-content: flex-start;
}

.group-info {
	width: 100%;
	display: flex;
	flex-direction: column;
}


.group-description {
	display: flex;
	flex-direction: row;
	padding: 12px 48px;
	justify-content: space-between;
}

.group-form {
	padding: 12px 48px;
	display: flex;
	flex-direction: column;
}

.group-input {
	display: flex;
	flex-direction: row;
	margin-bottom: 8px;
	&__item {
		margin-right: 12px;
		width: 100px;
	}
}

.group-users {
	padding: 12px 48px;
	display: flex;
	flex-direction: column;
}

.users-table {
	text-align: left;
	width: 100%;
}

.table-header {
	height: 50px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	margin-top: 8px;
}

.add-group-button {
	margin-top: 16px;
	width: 36px;
	height: 36px;
}

.new-group-input {
	margin-top: 16px;
}

body {
	margin: 0;
}

.button-group {
	display: flex;
}

.clickable {
	cursor: pointer;
	color: navy;
	&:hover {
		text-decoration: underline;
	}
}

.margin-right {
	margin-right: 12px;
}

.max-height {
	height: 100%;
}

.login {
  height: 100%;

  &__header {
    display: flex;
    height: 70px;
    background-color: #f4f1bb;
    align-items: center;
    padding-left: 100px;
    font-size: 40px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    background-color: #e6ebe0;
  }

  &__navbar {
    padding: 12px 24px;
    background-color: #d4ef97;
    width: 20%;
    justify-content: flex-start;
    align-items: center;
  }

  &__container {
    height: 100%;
    width: 80%;
  }

  &__signup {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
    margin: 24px 0;
    height: 70px;
    background-color: white;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  &__label {
    width: 100px;
  }
}

.register {
  &__title {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
    margin: 24px 0;
    height: 70px;
    background-color: white;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }
}

.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-top {
  margin-top: 12px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
}